{{> shared/_calculator_banner}}

<div class="tabs-content">
  <section role="tabpanel" aria-hidden="false" class="content active" id="calculator-inputs-panel">
    {{> savings/calculator}}
  </section>

  <section role="tabpanel" aria-hidden="true" class="content" id="calculator-results-panel">
    {{> savings/results}}
  </section>
</div>
