<html>
  <head>
    <title></title>
  </head>
  <body>
    <p>Aloha {{fullName}},</p>
    <p></p>
    <p>We have received your request and we hear you loud and clear! Someone will be following up with you shortly to respond to your query.</p>
    <p></p>
    <p><b>Mahalo,</b> <br> Nest Egg Guru</p>
  </body>
</html>