<h2>How to Use Nest Egg Guru's Retirement Savings Calculator</h2>
<section class="container-intro">
  <p>Nest Egg Guru believes providing a range of results is more realistic and instructive than generating a single “magic number” projection.  Since the best and worst simulations represent unlikely extremes, <strong>users may do well to consider the results that lie between the 50% (median) and 1% result values.</strong> Essentially, this range is intended to provide a reasonable estimate of where the user’s retirement nest egg value may fall in the event that future returns turn out to be less robust than the historical norm. This is consistent with Nest Egg Guru’s belief that people should approach retirement planning from the perspective of “hope for the best, but prepare for the worst”.  <strong>Users are also encouraged to explore how changing different input values may affect their results.</strong></p>
</section>
