<h2>{{premiumCopy}}Retirement Savings Calculator Results Summary</h2>
<section class="container-results-summary">
  <div class="row">
    <div class="large-6 columns">
      <div class="results-summary-left">
        <div class="row large-collapse">
          <div class="medium-6 columns">
            <p class="summary-text">Based upon an initial contribution rate of <strong><span class="initial"></span></strong> of wages and an expected contribution increase rate of <strong><span class="increase"></span>%</strong>, your total contributions to your retirement nest egg are projected to be:</p>
          </div>
          <div class="medium-6 columns">
            <div class="container-value">
              <p class="summary-value">$<span class="TotalContributionsatRetirement"></span></p>
              <p class="value-info-text">This is the total projected amount you will contribute from wages from now until you retire.</p>
            </div>
          </div>
        </div>
        <div class="row large-collapse">
          <div class="medium-6 columns">
            <p class="summary-text">In the top 20% of the simulation results (80th percentile), your retirement nest egg in <strong><span class="NumberofYearsuntilRetirement"></span> years</strong> grew to:</p>
          </div>
          <div class="medium-6 columns">
            <div class="container-value">
              <p class="summary-value">$<span class="80thPercentileBalance"></span></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <aside class="notes">
              <p>While it is nice to envision such growth, the best simulation results represent extremely favorable, and, likely, unrealistic investment environments. Nest Egg Guru users are instead encouraged to focus on how their portfolios may perform under less rosy investment conditions (i.e., plan for the worst, hope for the best).</p>
            </aside>
          </div>
        </div>
      </div>
    </div>

    <div class="large-6 columns">
      <div class="results-summary-right">
        <div class="row large-collapse">
          <div class="medium-6 columns">
            <p class="summary-text">In the median (50th percentile) result, the value of your retirement nest egg in <strong><span class="NumberofYearsuntilRetirement"></span> years</strong> grew to:</p>
          </div>
          <div class="medium-6 columns">
            <div class="container-value">
              <p class="summary-value">$<span class="MedianBalance"></span></p>
            </div>
          </div>
        </div>
        <div class="row large-collapse">
          <div class="medium-6 columns">
            <p class="summary-text">In the worst of the 5,000 simulations, the value of your retirement nest egg after <strong><span class="NumberofYearsuntilRetirement"></span> years</strong> was only:</p>
          </div>
          <div class="medium-6 columns">
            <div class="container-value">
              <p class="summary-value">$<span class="LowestBalance"></span></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <aside class="notes">
              <p>It is important to understand that this result may represent investment performance that is worse than any period over the 45 year period from which the sample data were derived. However, it is useful in establishing a baseline for planning for your future in the event that investment conditions in the years ahead turn out to be unusually difficult.</p>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
