{{#unless premium}}
  <div class="premium-version-notice">
    <h3>Upgrade to the <a href="/user/register#{{calculatorSelected}}" class="notice-link">Premium Version</a> to unlock this calculator feature.</h3>
    {{#unless user}}<p>If you already have, <a href="/user/login" class="notice-link">sign in.</a></p>{{/unless}}
  </div>
{{/unless}}
