<html>
  <head>
    <title></title>
  </head>
  <body>
    <p>Congratulations, your subscription to Nest Egg Guru has produced a new lead! The contact information captured by your lead gen tool is as follows:</p>

    <p><b>{{firstname}} {{lastname}}</b></p>
    <p><b>{{email}}</b></p>

    <p>A results report with your complete contact information on the cover page has been delivered to this person.</p>
  </body>
</html>