<h2>Retirement Spending Calculator Results Summary</h2>
<section class="container-results-summary">
  <div class="results-summary-intro">
    <p>Based upon the personal data you entered and the withdrawal elections you made, Nest Egg Guru ran 5,000 simulations using randomly sampled historical monthly index return data in percentages that match your specified retirement allocation.  The results from these simulations are summarized as follows:</p>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <div class="results-summary-left">
        <div class="row large-collapse">
          <div class="medium-6 columns">
            <p class="summary-text">Out of 5,000 withdrawal simulations, your <strong><span class="NumberofYearsinRetirementHorizon"></span> year</strong> withdrawal goal was successful this % of the time:</p>
          </div>
          <div class="medium-6 columns">
            <div class="container-value">
              <p class="summary-value"><span class="ProbabilityofSuccessinHorizonPeriod"></span>%</p>
              <p class="value-info-text">This is the percentage of simulations in which your Nest Egg lasted longer than you did.</p>
            </div>
          </div>
        </div>
        <div class="row large-collapse">
          <div class="medium-6 columns">
            <p class="summary-text">At the top 20% result (80th percentile) of the 5,000 simulations, your remaining portfolio balance at the end of <strong><span class="NumberofYearsinRetirementHorizon"></span> years</strong> was:</p>
          </div>
          <div class="medium-6 columns">
            <div class="container-value">
              <p class="summary-value"><span id="80thPercentileBalance" class="clear-table"></span></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <aside class="notes">
              <p>The top 20% results represent an extremely favorable (and, perhaps, unlikely) investment environment.  While included for illustration purposes, users are encouraged to focus on the bottom half (worst 50%) of simulation results.</p>
            </aside>
          </div>
        </div>
      </div>
    </div>

    <div class="large-6 columns">
      <div class="results-summary-right">
        <div class="row large-collapse">
          <div class="medium-6 columns">
            <p class="summary-text">Out of 5,000 simulations, your retirement nest egg was depleted before <strong><span class="NumberofYearsinRetirementHorizon"></span> years</strong> this percent of the time:</p>
          </div>
          <div class="medium-6 columns">
            <div class="container-value">
              <p class="summary-value"><span class="PercentageofTimeSavingsFailed"></span>%</p>
              <p class="value-info-text">This percentage represents the failure rate of the 5,000 simulations.</p>
            </div>
          </div>
        </div>
        <div class="row large-collapse">
          <div class="medium-6 columns">
            <p class="summary-text">At the worst result out of the 5,000 simulations, your remaining portfolio balance at the end of <strong><span class="NumberofYearsinRetirementHorizon"></span> years</strong> was:</p>
          </div>
          <div class="medium-6 columns">
            <div class="container-value">
              <p class="summary-value"><span id="LowestBalance" class="clear-table"></span></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <aside class="notes">
              <p>While this simulation result may represent investment conditions that are worse than anything in the historical record, it may be useful for establishing a baseline for evaluating one’s preparedness in the event that future investment returns are far worse than the historical norm.</p>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
