<table class="responsive results-table">
  <tr>
    <th>&nbsp;</th>
    <th class="5years clear-table"></th>
    <th class="10years clear-table"></th>
    <th class="15years clear-table"></th>
    <th class="20years clear-table"></th>
    <th class="25years clear-table"></th>
    <th class="30years clear-table"></th>
    <th class="35years clear-table"></th>
    <th class="40years clear-table"></th>
    <th class="45years clear-table"></th>
    <th class="50years clear-table"></th>
  </tr>
  <tr>
    <td>80%</td>
    <td><span class="80thPercentileBalance0 clear-table"></span></td>
    <td><span class="80thPercentileBalance1 clear-table"></span></td>
    <td><span class="80thPercentileBalance2 clear-table"></span></td>
    <td><span class="80thPercentileBalance3 clear-table"></span></td>
    <td><span class="80thPercentileBalance4 clear-table"></span></td>
    <td><span class="80thPercentileBalance5 clear-table"></span></td>
    <td><span class="80thPercentileBalance6 clear-table"></span></td>
    <td><span class="80thPercentileBalance7 clear-table"></span></td>
    <td><span class="80thPercentileBalance8 clear-table"></span></td>
    <td><span class="80thPercentileBalance9 clear-table"></span></td>
  </tr>
  <tr>
    <td>60%</td>
    <td><span class="60thPercentileBalance0 clear-table"></span></td>
    <td><span class="60thPercentileBalance1 clear-table"></span></td>
    <td><span class="60thPercentileBalance2 clear-table"></span></td>
    <td><span class="60thPercentileBalance3 clear-table"></span></td>
    <td><span class="60thPercentileBalance4 clear-table"></span></td>
    <td><span class="60thPercentileBalance5 clear-table"></span></td>
    <td><span class="60thPercentileBalance6 clear-table"></span></td>
    <td><span class="60thPercentileBalance7 clear-table"></span></td>
    <td><span class="60thPercentileBalance8 clear-table"></span></td>
    <td><span class="60thPercentileBalance9 clear-table"></span></td>
  </tr>
  <tr>
    <td>Median</td>
    <td><span class="MedianBalance0 clear-table"></span></td>
    <td><span class="MedianBalance1 clear-table"></span></td>
    <td><span class="MedianBalance2 clear-table"></span></td>
    <td><span class="MedianBalance3 clear-table"></span></td>
    <td><span class="MedianBalance4 clear-table"></span></td>
    <td><span class="MedianBalance5 clear-table"></span></td>
    <td><span class="MedianBalance6 clear-table"></span></td>
    <td><span class="MedianBalance7 clear-table"></span></td>
    <td><span class="MedianBalance8 clear-table"></span></td>
    <td><span class="MedianBalance9 clear-table"></span></td>
  </tr>
  <tr>
    <td>40%</td>
    <td><span class="40thPercentileBalance0 clear-table"></span></td>
    <td><span class="40thPercentileBalance1 clear-table"></span></td>
    <td><span class="40thPercentileBalance2 clear-table"></span></td>
    <td><span class="40thPercentileBalance3 clear-table"></span></td>
    <td><span class="40thPercentileBalance4 clear-table"></span></td>
    <td><span class="40thPercentileBalance5 clear-table"></span></td>
    <td><span class="40thPercentileBalance6 clear-table"></span></td>
    <td><span class="40thPercentileBalance7 clear-table"></span></td>
    <td><span class="40thPercentileBalance8 clear-table"></span></td>
    <td><span class="40thPercentileBalance9 clear-table"></span></td>
  </tr>
  <tr>
    <td>20%</td>
    <td><span class="20thPercentileBalance0 clear-table"></span></td>
    <td><span class="20thPercentileBalance1 clear-table"></span></td>
    <td><span class="20thPercentileBalance2 clear-table"></span></td>
    <td><span class="20thPercentileBalance3 clear-table"></span></td>
    <td><span class="20thPercentileBalance4 clear-table"></span></td>
    <td><span class="20thPercentileBalance5 clear-table"></span></td>
    <td><span class="20thPercentileBalance6 clear-table"></span></td>
    <td><span class="20thPercentileBalance7 clear-table"></span></td>
    <td><span class="20thPercentileBalance8 clear-table"></span></td>
    <td><span class="20thPercentileBalance9 clear-table"></span></td>
  </tr>
  {{#if premium}}
    <tr class="emphasized-values">
      <td>10%</td>
      <td><span class="10ValueatRisk0 clear-table"></span></td>
      <td><span class="10ValueatRisk1 clear-table"></span></td>
      <td><span class="10ValueatRisk2 clear-table"></span></td>
      <td><span class="10ValueatRisk3 clear-table"></span></td>
      <td><span class="10ValueatRisk4 clear-table"></span></td>
      <td><span class="10ValueatRisk5 clear-table"></span></td>
      <td><span class="10ValueatRisk6 clear-table"></span></td>
      <td><span class="10ValueatRisk7 clear-table"></span></td>
      <td><span class="10ValueatRisk8 clear-table"></span></td>
      <td><span class="10ValueatRisk9 clear-table"></span></td>
    </tr>
    <tr class="emphasized-values">
      <td>5%</td>
      <td><span class="5ValueatRisk0 clear-table"></span></td>
      <td><span class="5ValueatRisk1 clear-table"></span></td>
      <td><span class="5ValueatRisk2 clear-table"></span></td>
      <td><span class="5ValueatRisk3 clear-table"></span></td>
      <td><span class="5ValueatRisk4 clear-table"></span></td>
      <td><span class="5ValueatRisk5 clear-table"></span></td>
      <td><span class="5ValueatRisk6 clear-table"></span></td>
      <td><span class="5ValueatRisk7 clear-table"></span></td>
      <td><span class="5ValueatRisk8 clear-table"></span></td>
      <td><span class="5ValueatRisk9 clear-table"></span></td>
    </tr>
    <tr class="emphasized-values">
      <td>1%</td>
      <td><span class="1ValueatRisk0 clear-table"></span></td>
      <td><span class="1ValueatRisk1 clear-table"></span></td>
      <td><span class="1ValueatRisk2 clear-table"></span></td>
      <td><span class="1ValueatRisk3 clear-table"></span></td>
      <td><span class="1ValueatRisk4 clear-table"></span></td>
      <td><span class="1ValueatRisk5 clear-table"></span></td>
      <td><span class="1ValueatRisk6 clear-table"></span></td>
      <td><span class="1ValueatRisk7 clear-table"></span></td>
      <td><span class="1ValueatRisk8 clear-table"></span></td>
      <td><span class="1ValueatRisk9 clear-table"></span></td>
    </tr>
  {{else}}
    <tr class="emphasized-values">
      <td>10%</td>
      <td class="5years-toggle"><span><a href="/user/register#spending">Premium</a></span> version only</td>
      <td class="10years-toggle"><span><a href="/user/register#spending">Premium</a></span> version only</td>
      <td class="15years-toggle"><span><a href="/user/register#spending">Premium</a></span> version only</td>
      <td class="20years-toggle"><span><a href="/user/register#spending">Premium</a></span> version only</td>
      <td class="25years-toggle"><span><a href="/user/register#spending">Premium</a></span> version only</td>
      <td class="30years-toggle"><span><a href="/user/register#spending">Premium</a></span> version only</td>
      <td class="35years-toggle"><span><a href="/user/register#spending">Premium</a></span> version only</td>
      <td class="40years-toggle"><span><a href="/user/register#spending">Premium</a></span> version only</td>
      <td class="45years-toggle"><span><a href="/user/register#spending">Premium</a></span> version only</td>
      <td class="50years-toggle"><span><a href="/user/register#spending">Premium</a></span> version only</td>
    </tr>
    <tr class="emphasized-values">
      <td>5%</td>
      <td class="5years-toggle"><span><a href="/user/register#spending">Premium</a></span> version only</td>
      <td class="10years-toggle"><span><a href="/user/register#spending">Premium</a></span> version only</td>
      <td class="15years-toggle"><span><a href="/user/register#spending">Premium</a></span> version only</td>
      <td class="20years-toggle"><span><a href="/user/register#spending">Premium</a></span> version only</td>
      <td class="25years-toggle"><span><a href="/user/register#spending">Premium</a></span> version only</td>
      <td class="30years-toggle"><span><a href="/user/register#spending">Premium</a></span> version only</td>
      <td class="35years-toggle"><span><a href="/user/register#spending">Premium</a></span> version only</td>
      <td class="40years-toggle"><span><a href="/user/register#spending">Premium</a></span> version only</td>
      <td class="45years-toggle"><span><a href="/user/register#spending">Premium</a></span> version only</td>
      <td class="50years-toggle"><span><a href="/user/register#spending">Premium</a></span> version only</td>
    </tr>
    <tr class="emphasized-values">
      <td>1%</td>
      <td class="5years-toggle"><span><a href="/user/register#spending">Premium</a></span> version only</td>
      <td class="10years-toggle"><span><a href="/user/register#spending">Premium</a></span> version only</td>
      <td class="15years-toggle"><span><a href="/user/register#spending">Premium</a></span> version only</td>
      <td class="20years-toggle"><span><a href="/user/register#spending">Premium</a></span> version only</td>
      <td class="25years-toggle"><span><a href="/user/register#spending">Premium</a></span> version only</td>
      <td class="30years-toggle"><span><a href="/user/register#spending">Premium</a></span> version only</td>
      <td class="35years-toggle"><span><a href="/user/register#spending">Premium</a></span> version only</td>
      <td class="40years-toggle"><span><a href="/user/register#spending">Premium</a></span> version only</td>
      <td class="45years-toggle"><span><a href="/user/register#spending">Premium</a></span> version only</td>
      <td class="50years-toggle"><span><a href="/user/register#spending">Premium</a></span> version only</td>
    </tr>
  {{/if}}
  <tr>
    <td>Worst</td>
    <td><span class="LowestBalance0 clear-table"></span></td>
    <td><span class="LowestBalance1 clear-table"></span></td>
    <td><span class="LowestBalance2 clear-table"></span></td>
    <td><span class="LowestBalance3 clear-table"></span></td>
    <td><span class="LowestBalance4 clear-table"></span></td>
    <td><span class="LowestBalance5 clear-table"></span></td>
    <td><span class="LowestBalance6 clear-table"></span></td>
    <td><span class="LowestBalance7 clear-table"></span></td>
    <td><span class="LowestBalance8 clear-table"></span></td>
    <td><span class="LowestBalance9 clear-table"></span></td>
  </tr>
</table>
