<h2>How to Use Nest Egg Guru's Retirement Spending Calculator</h2>
<section class="container-intro">
  <p>Instead of focusing on a single probability of success (as most Monte Carlo simulation calculators do), Nest Egg Guru believes it is more instructive to present users with a full range of simulation results representing a broad spectrum of potential economic conditions. In keeping with the basic financial planning philosophy of “hope for the best, but prepare for the worst” users are encouraged to evaluate their preparedness by focusing on the bottom half of the simulation results (median-worst). In particular, the 1%, 5%, and 10% results may be considered the most valuable statistics for assessing the risk of each illustrated input scenario.</p>

  <p>Presenting the remaining balance data in five year increments over the illustrated retirement time horizon is intended to enable users to quantify their risk of running out of money in a way that a single probability percentage cannot.   Similarly, the inclusion of remaining balance data may allow users to tangibly quantify and balance the tradeoff between their planned annual withdrawal amount and the remaining balance that may be left for heirs.  This is an important concept because it helps users see and understand how focusing too much on establishing a “safe withdrawal rate” (i.e., an inflation-adjusted withdrawal rate that will assure sustainability) may lead to a lower standard of living in retirement and too much money left on the table for heirs.</p>

  <p>Users are especially encouraged to explore how changing different input values may impact their results.</p>
</section>
