<section class="container-bottom">
  <div class="row">
    <div class="large-6 columns">
      <div class="container-controls-left">
        <a href="#" class="secondary-btn" id="change-inputs">
          <span>Change Inputs</span>
        </a>
        <a href="#" class="primary-btn" id="start-again">
          <span>Start Again</span>
        </a>
      </div>
    </div>
    <div class="large-6 columns">
      <div class="container-controls-right">
        <a href="{{printRoute}}" class="print-btn" target="_blank">
          <span class="icon-print"></span>
          <span class="print-page-text">Print this page</span>
        </a>
      </div>
    </div>
  </div>
  {{> shared/_disclaimer}}
</section>
