<header class="header-logo-only ajax-loading" hidden>
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <a href="/">
          <img src="/img/logo.png" alt="Nest Egg Guru Logo">
          <span class="company">Nest Egg Guru</span>
          <span class="motto uppercase">Enlightened Retirement Planning</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
<div class="ajax-loading" hidden>
  <div class="page-loading">
    <div class="container">
      <h1>Based on your information,<br>Nest Egg Guru is running 5,000 simulations...</h1>
      <img src="/img/loading.svg">
    </div>
  </div>
</div>
