<header class="header-logo-only white-label-print container-white-label-nav">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <a href="/" class="company-logo">
          <img src="/img/logo.png" alt="Nest Egg Guru Logo">
        </a>
        <div class="company-info left">
          <a class="company" href="#">Nest Egg Guru</a>
          <a class="motto uppercase" href="#">Enlightened Retirement Planning</a>
        </div>
      </li>
    </ul>
  </nav>
</header>