.results-table {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 46px;
  border-spacing: 0;
  th, td {
    font-family: $base-font;
    font-size: 14px;
    font-weight: $middle-weight;
    line-height: 22px;
    text-align: center;
    padding: 9px 20px;
    @include max-breakpoint(mobile) {
      font-size: 12px;
      padding: 9px 10px;
    }
  }
  tr {
    th {
      border-bottom: 2px solid $h2-border;
      color: $header-color;
    }
    td {
      border-bottom: 1px solid $h2-border;
      color: $text-color;
    }
    &:not(:first-of-type):hover {
      background-color: $footer-color;
    }
  }
  .emphasized-values {
    td {
      font-weight: $heavy-weight;
    }
  }
}

.page-calculators-free {
  .results-table {
    th, td {
      padding: 9px 10px;
    }
  }
}
