form {
	.row {
		margin-bottom: 10px !important;
	}
}

.invisible {
  display: none !important;
}

.pie-warning {
  display: none;
  @include font-size(11px);
  letter-spacing: .5px;
  color: $pie-error;
  font-family: $base-font;
}

.company-err {
  margin-top: -16px !important;
}

.general-input {
	-webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  border-color: #B5BDC3 !important;
  box-shadow: none;
  padding: 10px !important;
  height: 40px !important;
  font-size: 1rem;
  margin-top: 5px !important;
}

label {
	font-size: 1rem;
}

select {
	font-family: $base-font;
	color: $text-color;
}

.styled-select {
  height: 40px;
  background: $white url('../img/select_down_arrow.svg') no-repeat right;
  border: 1px solid $select-border;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 15px;
  select {
    background: transparent;
    height: 40px;
    padding: 10px;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    font-family: $base-font;
    font-size: 14px;
    color: $header-color;
    outline: none;
  }
}

.error {
	color: #f66;
}

small.error {
	background: #f66;
	color: #fff;
}

.pre-fill {
	label {
		text-align: right;
	}
}
.input-answer {
	color: #1D2125;
}

#apply-coupon{
  margin-top: 29px;
  padding-left:0;
  position: relative;

  #apply-coupon-tip {
    position: absolute;
    top: -30px;
    right: 25px;
    text-align: right;
    width: 330px;
  }

  small {
    font-size: 70%;
  }
}

#coupon-code-button{
  float:right;
  display: block;
}

.coupon-message-success{
  color: #46bb63;
  margin-top: -7px;
  margin-bottom: 14px;
}

.coupon-message-failure{
  color: #f66;
  margin-top: -7px;
  margin-bottom: 60px;
}

#coupon-id{
  margin-bottom: 60px;
}

.coupon-id-show{
  font-size: 18px;
  font-weight: 500;
  a{
    margin-left: 11px;
    color: #6D777D;
    font-weight: 900;
  }
}

.coupon-input-failure{
  box-shadow: none;
  border-color: red !important;
}

