<html>
  <head>
    <title></title>
  </head>
  <body>
    <p>Dear {{name}},</p>
    <p></p>
    <p>Thank you for purchasing our 1day (24hr) trial for ${{amount}}, you now have unlimited access to our {{calculator}} until {{expires}}.</p>
    <p></p>
    <p><b>Yours Truly,</b><br>Nest Egg Guru</p>
  </body>
</html>
