<html>
  <head>
    <title></title>
  </head>
  <body>
    <p><b>New Contact Request</b></p>
    <p>Name: {{fullName}}</p>
    <p>Email Address: {{email}}</p>
    <p>Message:<br>&nbsp;&nbsp;{{message}}</p>
  </body>
</html>