<div class="row">
  <div class="large-12 columns">
    <label>Occupation
      <div class="styled-select">
        <input type="hidden" id="userTypeValue" value="{{person.userType}}">
        <select name="userType" class="calculator-select" id="userType" required>
          <option selected></option>
          <option value="Financial Planner">Financial Planner</option>
          <option value="Registered Investment Advisor">Registered Investment Advisor</option>
          <option value="CPA">CPA</option>
          <option value="Qualified Plan Administrator">Qualified Plan Administrator</option>
          <option value="Other">Other</option>
        </select>
      </div>
    </label>
  </div>
</div>
