.f-right {
  float: right;
}

.f-left {
  float: left;
}

.item-block {
	display: block;
}

.embed-code {
	min-height: 100px;
}

.mid-margin-vertical {
	margin: 20px 0;
}

.info-icon-image {
	width: 20px;
	height: 20px;
}

.bot-padding {
  padding-bottom: 20px;
}
