// Colors
// --------------------------------

// Font Colors
$primary-color: #49BC6B;
$secondary-color: #FF9572;
$text-color: #6D777D;
$header-color: #1D2125;
$footer-color: #F6F9FA;
$section-color: #F4F7F9;
$notes-color: #98823C;
$white: #FFFFFF;
$primary-btn-color: $white;
$secondary-btn-color: #8C989E;
$h2-border: #E3E8EC;
$page-fold: #F3CF36;
$tab-color: #7C868D;
$whitelabel-color: #384047;

// Error Colors
$standard-error: #FF003E;
$pie-error: #FF5967;


// Version Colors
$free-label-bg: #D3D9DD;
$free-label-text: $secondary-btn-color;
$free-disabled-header: $secondary-btn-color;
$free-disabled-text: #B5BDC3;
$premium-notice-bg: $footer-color;


// Background Colors
$notes-bg: #FFEDB5;
$primary-btn-bg: $primary-color;
$secondary-btn-bg: $h2-border;
$tab-inactive-bg: $h2-border;
$icon-bg: #A8AFB7;
$subdomain-header-bg: #2C3137;

// Slider Colors
$slider-border: $free-disabled-text;
$slider-label: $secondary-btn-color;

// Dashed border color
$dashed-border: #E3E8EC;

// Select Dropdown Colors
$select-border: $free-disabled-text;


// Radio Button Colors
$radio-border: $free-disabled-text;


// Retirement Portfolio Details Colors
$portfolio-border: $free-disabled-text;
$portfolio-label: $header-color;
$portfolio-legend-green: #5ECF80;
$portfolio-legend-blue: #4A90E2;
$portfolio-legend-salmon: $secondary-color;
$portfolio-btn-label: #D0D2D3;


// charts colors
$grid-lines: #DEE2E8;
$text-color: #586066;
$point-fill: #2B3136;

// height
$print-topbar-height: 5.625rem;

// image size
$logo-size: 60px;