<html>
  <head>
    <title></title>
  </head>
  <body>
    <p>Thank you for trying out Nest Egg Guru. Over the past 14 days, we have sent you a series of short messages to help you understand the features and functionality that sets Nest Egg Guru apart from other planning apps.</p>
    <p></p>
    <p>The trial period is now over and we hope you would like to become a subscriber. The annual subscription cost is just $300 (less if you have a promo code from one of our partner relationships). Please <a href="https://nesteggguru.com/user/login">log into your account</a> and enter your payment method.</p>
    <p></p>
    <p>If you choose not to subscribe for now, your account will remain open, but the calculators will not function.</p>
    <p></p>
    <p>Thanks again for taking time to check us out!</p>
  </body>
</html>
