<main class="page-about">
	<div class="banner">
		<h1>About</h1>
	</div>
	<div class="container intro">
		<p>Nest Egg Guru offers a new way to obtain meaningful answers to two of the most common and important financial planning questions – “How much will I have saved at retirement?” and “How long will my retirement nest egg last after I retire?”</p>
		<p>Nest Egg Guru's two calculators offer a number of advantages over the existing broad universe of retirement planning programs. In particular, Nest Egg Guru employs a methodology that does not require the user (or the program) to make explicit assumptions or guesses about future rates of return or market volatility. At the same time, Nest Egg Guru's calculators enable users to test how their portfolios may hold up under adverse economic conditions and encourages users to focus on the most challenging results instead of overly optimistic projections (i.e., plan for the worst and hope for the best). Nest Egg Guru also allows users to quickly see how changing variables that are within their control (e.g., asset allocation, cost of living increase, savings and withdrawal strategies, etc.) may affect their results. All of this, we hope, is achieved in a friendly, intuitive design that better reflects the experience of real world investors.</p>
	</div>

  <div class="row">
    <div class="medium-12 columns"><h2>Team</h2></div>
  </div>

	<div class="row">
		<div class="medium-6 columns">
			<div class="row team">
				<div class="large-4 columns">
					<img class="avatar" src="/img/team/jd.jpg" alt="Jack De Jong, Jr.">
				</div>
				<div class="large-8 columns">
					<h2 class="h2-alt">Jack De Jong, Jr.</h2>
					<p class="smtext title">PH.D., MBA, CFA, Co-Founder</p>
					<p>Jack De Jong, Jr. is a finance professor at the H. Wayne Huizenga School of Business and Entrepreneurship at Nova Southeastern University in Florida. Prior to this position he was a Finance Professor at the University of Hawaii’s School of Travel Industry Management. He earned his Doctor of Philosophy in International Management from the University of Hawaii with a specialization in Asian Finance. He earned his MBA in Finance from the University of Chicago.</p>
				</div>
			</div>
		</div>
		<div class="medium-6 columns">
			<div class="row team">
				<div class="large-4 columns">
					<img class="avatar" src="/img/team/jr.jpg" alt="John H. Robinson">
				</div>
				<div class="large-8 columns">
					<h2 class="h2-alt">John H. Robinson</h2>
					<p class="smtext title">Co-Founder, CEO</p>
					<p>J.R. is the Founder and Owner of Financial Planning Hawaii.  As a domain expert, he is responsible for Nest Egg Guru’s design and inbound marketing strategy.  He is a frequent contributor to academic and professional journals.  Papers he co-authored on retirement income sustainability have won the CFP Board of Standards and International Foundation for Retirement Education (InFRE) Outstanding Paper Awards.  He holds a B.A. in Economics from Williams College.</p>
				</div>
			</div>

		</div>
	</div>

  <div class="row">
    <div class="medium-6 columns">
      <div class="row team">
        <div class="large-4 columns">
          <img class="avatar" src="/img/team/ebd.jpg" alt="Ephraim Ben-Dor">
        </div>
        <div class="large-8 columns">
          <h2 class="h2-alt">Ephraim Ben-Dor</h2>
          <p class="smtext title">MBA, CO-FOUNDER, Product Manager</p>
          <p>Efi is the co-founder of Michal Negrin Canada and Michal Negrin Hawaii Inc.  He is an Israel Defence Force veteran. Previously he was a licensed investment portfolio manager and quantitative algorithms developer with a company he founded and sold. He is a board member of Temple Emanu-El Honolulu, and of Groundswell Grassroots Economic Alternatives in Vancouver, BC. He holds an MBA in Finance from The Hebrew University in Jerusalem.</p>
        </div>
      </div>
    </div>
    <div class="medium-6 columns">
      <div class="row team">
        <div class="large-4 columns">
          <img class="avatar" src="/img/team/jc.jpg" alt="Joseph Carlson">
        </div>
        <div class="large-8 columns">
          <h2 class="h2-alt">Joseph Carlson</h2>
          <p class="smtext title">Full Stack Web Developer / CTO</p>
          <p>Joe is a Honolulu based full-stack JavaScript engineer with a passion for making great looking and powerful web applications. He has successfully supported small to large enterprises all over the US with IT project consulting services and professional services across multiple technology and business areas. He holds a B.A. in Computer Science from Gustavus Adolphus College.</p>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="medium-6 columns">
      <div class="row team">
        <div class="large-4 columns">
          <img class="avatar" src="/img/team/cg.jpg" alt="Christopher Grozdon">
        </div>
        <div class="large-8 columns">
          <h2 class="h2-alt">Christopher Grozdon</h2>
          <p class="smtext title">Digital Marketing Manager</p>
          <p>Christopher manages all aspects of Nest Egg Guru’s social media marketing platform and is responsible for overseeing all ad campaigns. He has a strong background in IT, digital marketing, videography, and design. He holds a B.B.A. in Marketing & American Studies from the University of Hawaii at Manoa.</p>
        </div>
      </div>
    </div>
    <div class="medium-6 columns">

    </div>
  </div>

  <div class="row">
    <div class="medium-12 columns"><h2>Advisory Council</h2></div>
  </div>

  <div class="row">
    <div class="medium-6 columns">
      <div class="row team">
        <div class="large-4 columns">
          <img class="avatar" src="/img/team/mz.jpg" alt="Mahboud Zabetian">
        </div>
        <div class="large-8 columns">
          <h2 class="h2-alt">Mahboud Zabetian</h2>
          <p class="smtext title">App Builder at YouTube, Google</p>
          <p>Mahboud is a veteran Silicon Valley entrepreneur, founder, developer, inventor, CEO, chairman and advisor. Currently a Principal at Optimized.com. Previous recent affiliations include Hovee Commuting, Applied Design Group, Silent Circle.  Former founder/CEO at Wild Packets, Chairman Savvius, Inc.  EECS, Princeton University.</p>
        </div>
      </div>
    </div>
    <div class="medium-6 columns">
      <div class="row team">
        <div class="large-4 columns">
          <img class="avatar" src="/img/team/gm.jpg" alt="Gideon Marks">
        </div>
        <div class="large-8 columns">
          <h2 class="h2-alt">Gideon Marks</h2>
          <p class="smtext title">MBA</p>
          <p>Gideon is a seasoned Silicon Valley executive, entrepreneur, and investor.  A former CFO/Managing Director with a strong background in finance and business/corporate development, Gideon has taken three companies public on NASDAQ and has lead four others to successful M&A transactions.  Current advisory affiliations include Multi Phy, and Jurispect.   Recent previous affiliations include Pi-Coral, Net Optics (acquired), and Catch Media.   Gideon received a B.A. in Economics and an MBA from Tel Aviv University.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="medium-12 columns"><h2>Investors</h2></div>
  </div>

  <div class="row">
    <div class="small-3 small-centered columns">
      <a href="http://bluestartups.com/" target="_blank">
        <img src="img/bluestartups.png" width="140" height="140">
      </a>
    </div>
  </div>

	<!-- <div class="row">
    <div class="medium-12 columns"><h2>Embed Code Example</h2></div>
  </div>

  <div class="row">
		<div class="medium-12 columns" style="height: 800px;">

			<iframe src="https://fphawaii.nesteggguru.com/spending/premium" width="420" height="100%" frameborder="1"></iframe>


			<iframe src="https://fphawaii.nesteggguru.com/spending/premium" width="420" height="100%" frameborder="1"></iframe>
		</div>
  </div> -->

</main>
