<main class="page-about">
	<div class="banner">
		<h1>Clients Want Easy to Understand Reports, Advisors Want Low Subscription Fees.</h1>
		<h3>Nest Egg Guru features a client-friendly design and advisor subscriptions as low as $300 per year for unlimited use.</h3>
	</div>

	<div class="row">
		<div class="medium-6 columns">
			<br>
			<h2>Book A Demo</h2>
			<small class="email-sent" style="display: none;">Email Sent!</small>
			<form id="book-demo-form" class="about-form" action="/book-demo" role="form" novalidate>
				<div class="row">
					<div class="large-6 columns">
						<label>First Name
							<input type="text" name="firstName" class="general-input" required/>
						</label>
					</div>
					<div class="large-6 columns">
						<label>Last Name
							<input type="text" name="lastName" class="general-input" required/>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns">
						<label>Email
							<input type="email" name="email" class="general-input" required/>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns">
						<label>Phone Number
							<input type="text" id="phone" name="phone-number" class="general-input" required/>
						</label>
					</div>
				</div>
				<button type="submit" class="primary-btn">SEND MY FREE DEMO LINK!</button>
			</form>
		</div>
  		<div class="medium-6 columns">
  			<img class="screenshots" src="/img/screenshots-branded.png" alt="Branded Premium Calculators">
  		</div>
	</div>
</main>
