<main class="page-about">
	<div class="banner">
		<h1>Schedule a demo</h1>
		<h3>Want to schedule a one-on-one demo or just talk shop?</h3>
		<h3>We would love to hear from you</h3>
	</div>

	<div class="row">
  </br>
		<div class="medium-3 columns quote-text">
			<img src="img/spinning-atom-0.gif" alt="Spinning Atom">
            <p style="margin-top: 75px;"><i>“A problem with Monte Carlo tools that is exacerbated today is that they can often paint an unrealistic picture of returns. For example, an average expected return for cash of 2% is unrealistic (since the return on cash today is closer to 0%). This carries important implications for sequence risk for retirees, because the order you incur returns has a significant impact on the potential success of a given strategy.”</i>  - <b>Wade Pfau, Ph.D.</b></p>
		</div>

		<div class="medium-6 columns">
			<h2>Contact Us</h2>
			<div class="row">
				<div class="large-6 columns">
					<p class="smtext nobottommargin">Phone Number</p>
					<p>(808) 529-9644</p>
				</div>
				<div class="large-6 columns">
					<p class="smtext nobottommargin">Email</p>
					<p><a href="mailto:guru@nesteggguru.com">guru@NestEggGuru.com</a></p>
				</div>
			</div>

			<small class="email-sent" style="display: none;">Email Sent!</small>
			<form id="contact-form" class="about-form" action="/contact" role="form">
				<div class="row">
					<div class="large-6 columns">
						<label>First Name
							<input type="text" name="firstName" class="general-input error" required/>
						</label>
					</div>
					<div class="large-6 columns">
						<label>Last Name
							<input type="text" name="lastName" class="general-input" required/>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="large-6 columns">
						<label id="invalid-email-txt">Email
							<input type="email" name="email" class="general-input" required/>
						</label>
					</div>
					<div class="large-6 columns">
						<label id="invalid-email-txt">Phone
							<input type="text" id="phone" name="phone" class="general-input" required/>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns">
						<label>Subject Line
							<div class="styled-select">
						        <select name="subject" class="calculator-select" id="subject" required>
						          <option values="" selected></option>
						          <option values="Schedule a Demo">Schedule a Demo</option>
						          <option value="General Questions">General Questions</option>
						          <option value="Using Nest Egg Guru with Clients">Using Nest Egg Guru with Clients</option>
						          <option value="Website Integration">Website Integration</option>
						         </select>
							</div>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns">
						<label>Message
							<textarea name="message" class="general-input textarea" required></textarea>
						</label>
					</div>
				</div>
				<button type="submit" class="primary-btn">Send</button>
			</form>
		</div>

        <div class="medium-3 columns quote-text" style="margin-top: 175px;"><i>“We need to recognize that in planning our clients' future, we're dealing with ambiguity, not risk…The bottom line for investors today is being less concerned with the probability of success and more concerned with the consequences of failure. And the bottom line for brokers, reps and other financial advisors is finding ways to model portfolios realistically.”</i>  - <b>Harold Evensky, CFP, AIF</b></div>
	</div>
</main>
