<main class="page-financial-professionals">
	<h1>Features</h1>
	<div class="row">
    <div class="medium-10 medium-centered small-12 columns text-center">
        <h2 class="section-heading"></h2>
        <p class="section-subheading ">Nest Egg Guru offers a new way to obtain meaningful answers to two of the most common and important financial planning questions – “How much will I have saved at retirement?” and “How long will my retirement nest egg last after I retire?”</p>
    </div>
    <div class="medium-12 columns">
      <div class="row text-center">
          <div class="medium-4 columns">
              <svg class="lnr lnr-thumbs-up lnr-medium-size"><use xlink:href="#lnr-thumbs-up"></use></svg>
              <h4>Client-Facing Portal</h4>
              <p>Intuitive enough for clients to use too, Nest Egg Guru easily integrates into your website.  The calculators are white-labled to your practice and the client-friendly reports all have your logo, contact info, and bio.</p>
          </div>
          <div class="medium-4 columns">
              <svg class="lnr lnr-diamond lnr-medium-size"><use xlink:href="#lnr-diamond"></use></svg>
              <h4>Advanced Functionality</h4>
              <p>Compare constant allocation vs. glidepath savings strategies, account for low interest rates on bonds and cash, test bonds-first and guardrail withdrawal strategies, account for all fees and expenses, make spending decisions based on remaining balance data, and more.</p>
          </div>
          <div class="medium-4 columns">
              <svg class="lnr lnr-keyboard lnr-medium-size"><use xlink:href="#lnr-keyboard"></use></svg>
              <h4>Realistic Stress Testing</h4>
              <p>A powerful simulation engine shows how your clients’ savings and spending strategies may hold up under adverse conditions.  Focusing on the bottom half of the 5,000 simulation results, enables them to hope for the best, but PLAN for the worst.
              </p>
          </div>
      </div>
      <div class="row text-center">
          <div class="medium-4 medium-offset-2 columns">
              <svg class="lnr lnr-star lnr-medium-size"><use xlink:href="#lnr-star"></use></svg>
              <h4>Unique Methodology & Design</h4>
              <p>A bootstrapped sampling methodology is employed to avoid internal assumption problems that plague other Monte Carlo simulation apps. Nest Egg Guru’s intuitive design makes it easy to test how factors within your client’s control may impact their results.</p>
          </div>
          <div class="medium-4 columns end">
              <svg class="lnr lnr-magic-wand lnr-medium-size"><use xlink:href="#lnr-magic-wand"></use></svg>
              <h4>Optional Lead Generation Tool</h4>
              <p>Add a link to your site that allows you to capture the names and email addresses of prospective clients who visit your site and elect to test their retirement strategies in Nest Egg Guru.</p>
          </div>
      </div>
    </div>
	</div>

  <section class="cta">
      <div class="row white">
        <div class="medium-10 medium-centered small-12 columns">
            <div class="row">
              <div class="medium-4 columns">
                <p>Beware of "Feature Creep"!</p><br>
                <div class="flex-video">
                  <iframe src="https://www.youtube.com/embed/tUIrwK9hNvA?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
              <div class="medium-4 columns">
                <p>What Sets Nest Egg Guru Apart, Part 1 - What's Under the Hood?</p>
                <div class="flex-video">
                  <iframe src="https://www.youtube.com/embed/jZEL3bosYzo?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
              <div class="medium-4 columns">
                <p>What Sets Nest Egg Guru Apart, Part 2 - Functionality: Can Your App Do This?</p>
                <div class="flex-video">
                  <iframe src="https://www.youtube.com/embed/99DsK1cZkEA?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="row">
          <h1>Are you ready to get started with Nest Egg Guru?</h1>
      </div>
      <div class="row white">
        {{#if manageSubscription}}
          <div class="medium-4 medium-centered columns">
            <iframe src="https://drive.google.com/a/beesightsoft.com/file/d/0B35Gy3Q0lH6bZks1QmVxbGdxR0k/preview" width="100%" height="480"></iframe>
          </div>
          {{#compare subscriptions "financialProfessionalMonthly"}}
          <div class="medium-6 medium-centered columns">
            <div class="call-to-action-link">
              <a href="/user">
                <h3 class="plan-header">Monthly Subscription</h3>
                <p class="plan-price">$30</p>
                <p class="smtext lightgrey">Unlimited Access</p>
              </a>
              <a href="/user" class="primary-btn">Manage Subscription</a>
            </div>
          </div>
          {{/compare}}

          {{#compare subscriptions "financialProfessionalYearly"}}
          <div class="medium-6 medium-centered columns">
            <div class="call-to-action-link">
              <a href="/user">
                <h3 class="plan-header">Yearly Subscription</h3>
                <p class="plan-price">$300/yr</p>
                <p class="smtext lightgrey">Unlimited Access</p>
              </a>
              <a href="/user" class="primary-btn">Manage Subscription</a>
            </div>
          </div>
          {{/compare}}
        {{else}}
          <div class="medium-3 columns">
            <div class="call-to-action-link">
              <a href="/user/register?type=financial-professionals#monthly">
                <h3 class="plan-header">Monthly Subscription</h3>
                <p class="plan-price">$30</p>
                <p class="smtext lightgrey">Unlimited Access</p>
              </a>
              <a href="/user/register?type=financial-professionals&step=info#monthly" class="primary-btn">Buy Subscription</a>
            </div>
          </div>

          <div class="medium-6 columns" style="padding: 0;">
            <iframe src="https://drive.google.com/a/beesightsoft.com/file/d/0B35Gy3Q0lH6bZks1QmVxbGdxR0k/preview" width="100%" height="480"></iframe>
          </div>

          <div class="medium-3 columns">
            <div class="call-to-action-link">
              <a href="/user/register?type=financial-professionals&step=info#annual">
                <h3 class="plan-header">Yearly Subscription</h3>
                <p class="plan-price">$300/yr</p>
                <p class="smtext lightgrey">Unlimited Access</p>
              </a>
              <a href="/user/register?type=financial-professionals&step=info#annual" class="primary-btn">Buy Subscription</a>
            </div>
          </div>
        {{/if}}
      </div>
      <div class="row white" style="padding-top: 0px">
        <div class="medium-4 medium-offset-2 columns">
          <p>Does Your Retirement App See Through Rose Colored Glasses</p>
          <div class="flex-video">
            <iframe style="width: 100%; height: 100%;" src="https://www.youtube.com/embed/pbZqzq6_btg?rel=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="medium-4 columns end">
          <p>Financial Plan Or Expensive Coaster?</p><br>
          <div class="flex-video">
            <iframe src="https://www.youtube.com/embed/nqyTlD5ikkc?rel=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
  </section>

  <section class="cta-white">
      <div class="row white">
          <div class="medium-10 medium-centered small-12 columns">
              <h1>Do you want to ask us some questions before you sign up?</h1>
              </br>
              <a href="/contact" class="cta-btns"><button>Contact Us Today</button></a>

          </div>
      </div>
  </section>

</main>
