<main class="page-financial-professionals">
	<h1>Financial Professionals</h1>
	<div class="row">
		<div class="medium-6 columns">
			<img class="screenshots" src="/img/screenshots-branded.png" alt="Branded Premium Calculators">
		</div>
		<div class="medium-6 columns">
			<h2>Benefits</h2>
			<ul class="basic-list">
				<li>Helps make your website a hub for clients and prospective clients to frequent. Traffic may increase as users refer others to your calculators.</li>
				<li>Both the application and the printed reports are custom branded to your practice.</li>
				<li>Sleek, intuitive design and visually appealing graphics make the calculators just plain cool to use! Clients will love the ability to run the apps and print the output reports on their own.</li>
				<li>Helps differentiate you from other financial professionals. Nest Egg Guru’s calculators include several unique features and the results reporting allows users to view their retirement strategies in a whole new light.</li>
				<li>Inexpensive pricing. Compare the subscription price of Nest Egg Guru to other popular branded financial planning apps. Most competing apps cost more than $1,000 per year and do not have Nest Egg Guru's functionality.</li>
			</ul>
			<p><a href="/savings/print/sample">View Savings Calculator sample report</a></p>
      <p><a href="/spending/print/sample">View Spending Calculator sample report</a></p>
			<div class="row">
				<div class="small-6 columns call-to-action-link">
          <a href="/user/register?type=financial-professionals&step=info#monthly">
            <h3 class="plan-header">Monthly Subscription</h3>
            <p class="plan-price">$30/mo</p>
            <p class="smtext lightgrey">Unlimited Access</p>
          </a>
				</div>
				<div class="small-6 columns call-to-action-link">
          <a href="/user/register?type=financial-professionals&step=info#annual">
            <h3 class="plan-header">Yearly Subscription</h3>
            <p class="plan-price">$300/yr</p>
            <p class="smtext lightgrey">Unlimited Access</p>
          </a>
				</div>
			</div>
      {{#if manageSubscription}}
        <a href="/user" class="primary-btn">Manage Subscription</a>
      {{else}}
        <a href="/user/register?type=financial-professionals&step=info" class="primary-btn">Buy Subscription</a>
      {{/if}}
		</div>
	</div>
</main>
