<main class="page-forgotpw">
	<div class="banner">
		<h1>Reset Your Password</h1>
		<p>Enter your email address.</p>
	</div>

	<div class="row">
		<div class="large-6 large-centered medium-8 medium-centered columns">
			<form method="POST" action="/user/forgot-password" class="pw-form clearfix">
			  <div class="row clearfix">
			    <div class="small-12 columns">
			      <label>Email
			        <input type="text" name="email" class="general-input no-margin" />
			        {{#if message}}
								<small class="error">{{message}}</small>
							{{/if}}
			      </label>
			    </div>
			  </div>
			  <div class="row clearfix bottom">
			  	<div class="small-6 columns">
			  		<button class="primary-btn">Reset</button>
			  	</div>
			  	{{#unless user}}
				  	<div class="small-6 columns remember">
				  		<a href="/user/login">I remember now</a>
				  	</div>
			  	{{/unless}}
			  </div>
			</form>
		</div>
	</div>

</main>